body{
    background-color: #0C1E7F;

  .phone{
    width: 25rem;
    height:40rem;
    background-color: #8A39E1;
    // sborder: 1px solid black;
    border-radius: 40px;
    margin:0 auto;
    .rect{
        width: 20rem;
        height: 8rem;
        border-radius: 40px;
        border: 1px solid red;
    }
    }
}