body{

.number__1{
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 8px;
    h3{
        text-align: center;
    }

    img{
        margin: 10rem;
        width: 3rem;
        height:3rem;
    animation: jump 6s infinite;
    @keyframes jump {
        0%{transform: translate(-50%, -50%) scale(1.25, 0.75);}
        50% {transform: translate(-50%, -150%) scale(1, 1);}
        55% { transform: translate(-50%, -150%) rotate(180deg); }
        60%{ transform: translate(-50%, -150%) rotate(200deg);}
        100%{ transform: translate(-50%, -50%) scale(1.25, 0.75);}
    }
}
}

.number__2{
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 8px;
    
    .title{
        height: 30px;
        h3{
        text-align: center;
    } 
    }
   .cols{
    display: flex;
   
    .col-1{
    background-color: blueviolet;
    width: 25%;
    
    }
    .col-2{
        background-color: palevioletred;
        width: 25%;

    }
    .col-3{
        background-color: blueviolet;
        width: 25%;

    }
    .col-4{
        background-color: palevioletred;
        width: 25%;

    }
   }
    
}

.number__3{
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 8px;
    h3{
        text-align: center;
    }
    // img {
    //     margin: -2rem;
    //     // animation: morph ease-in-out 3s linear;
    // }

    // img path :active{
    //     d: path("M 172.035156 204.917969 C 168.039062 204.003906 161.699219 198.601562 164.480469 193.6875 C 165.917969 192.132812 171.375 186.316406 175.933594 188.628906 C 179.304688 190.335938 182.023438 194.121094 182.277344 197.917969 C 182.628906 203.148438 176.464844 205.925781 172.035156 204.917969 Z M 176.910156 186.953125 C 171.941406 184.207031 165.007812 191.039062 164.878906 191.140625 C 157.839844 196.996094 163.964844 203.339844 169.050781 205.871094 C 174.5 208.585938 182.957031 206.308594 184.105469 199.648438 C 184.988281 194.550781 181.175781 189.3125 176.910156 186.953125 ");
    // }

    // .square svg path{
        
    // }
}
}