html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html header, body header {
  background-image: url("../images/photos/image-header.jpg");
  background-position: center;
  background-size: cover;
}

html header .container a img, body header .container a img {
  height: 0.5rem;
  margin: 1rem 1rem 0 1rem;
}

html header .container nav figure, body header .container nav figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html header .container nav figure img, body header .container nav figure img {
  width: 5rem;
  margin: 0 1rem 0 1rem;
}

html header .container h1, body header .container h1 {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-bottom: 7rem;
}

html header .container .arrow-to-bottom img, body header .container .arrow-to-bottom img {
  height: 3rem;
  margin-left: 9.5rem;
}

html main section .egg .container-text, body main section .egg .container-text {
  width: 100%;
  height: 50vh;
}

html main section .egg .container-text h1, body main section .egg .container-text h1 {
  text-align: center;
  font-size: 18px;
  margin: 2rem;
}

html main section .egg .container-text p, body main section .egg .container-text p {
  text-align: center;
  font-size: 16px;
  margin: 0 2rem 3rem 2rem;
}

html main section .egg .container-text a, body main section .egg .container-text a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-align: center;
  margin: 8rem;
}

html main section .egg .container-text a:hover, body main section .egg .container-text a:hover {
  text-decoration: underline;
  color: yellow;
}

html main section .egg .container-image, body main section .egg .container-image {
  width: 100%;
}

html main section .egg .container-image img, body main section .egg .container-image img {
  width: 100%;
}

html main section .glass .container-image, body main section .glass .container-image {
  width: 100%;
}

html main section .glass .container-image img, body main section .glass .container-image img {
  width: 100%;
}

html main section .glass .container-text, body main section .glass .container-text {
  width: 100%;
  height: 50vh;
}

html main section .glass .container-text h1, body main section .glass .container-text h1 {
  text-align: center;
  font-size: 18px;
  margin: 2rem;
}

html main section .glass .container-text p, body main section .glass .container-text p {
  text-align: center;
  font-size: 16px;
  margin: 0 2rem 3rem 2rem;
}

html main section .glass .container-text a, body main section .glass .container-text a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-align: center;
  margin: 8rem;
}

html main section .glass .container-text a:hover, body main section .glass .container-text a:hover {
  text-decoration: underline;
  color: yellow;
}

html main .graphic-photography .container-image, body main .graphic-photography .container-image {
  width: 100%;
}

html main .graphic-photography .container-image img, body main .graphic-photography .container-image img {
  width: 100%;
}
/*# sourceMappingURL=sunnySide.css.map */